.nahiro-map-btn{
	display: block;
	box-sizing: border-box;
	text-align: center;
	text-decoration: none;
	font-family: "Open Sans", sans-serif; /* Updated font-family */
	font-size: 18px; /* Updated font-size */
	font-weight: 700; /* Updated font-weight */
	background-color: #ff350c;
	color: #ffffff;
	border: 1px solid #ff7052;
	border-radius: 10px;
	box-shadow: 0 10px 30px -8px rgba(0, 0, 0, 0.16);
	padding: 15px;
	transition: all 0.3s;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	width: 200px;
	margin-top: 1.4rem;
	margin-inline: auto;
	/*overwrite to fit elementor aestetics*/
	border-radius: 4px;
	padding-block: 10px;
	font-size: 0.9rem;
	width: 100px;
	transition: all 350ms ease-in;
}
.nahiro-map-btn:hover{
	background-color: #e0300a;
	border-color: #e66048;
	color: white;
}
.nahiro-desc{
	font-size: 0.8rem;
	text-align: center;
	 margin-top: 1rem;
}
.nahiro-img{
	margin: 0 auto;
	display: block;
	translate: -7px;
}