@font-face {
    font-family: 'Avenir Next Font';
    src: url('../../font/avenirnextltpro-regular-webfont.woff2') format('woff2'),
         url('../../font/avenirnextltpro-regular-webfont.woff') format('woff'),
         url('../../font/AvenirNextLTPro-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Font';
    src: url('../../font/avenirnextltpro-bold-webfont.woff2') format('woff2'),
         url('../../font/avenirnextltpro-bold-webfont.woff') format('woff'),
         url('../../font/AvenirNextLTPro-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}
.notice, .error, .updated, .notice.e-notice {
        display: none !important;
 }
.container{
	padding-block: 16px;
	padding-inline: 32px;
	background:#fafafa;
	font-family: "Avenir Next Font", sans-serif;
	border-radius: 8px;
	width: 75%;
}

html { scroll-behavior: smooth; }

/*content*/
.wrap{
	displsay: flex;
	gap: 0px;
	flex-dsirection: row-reverse;
}
.wrap .nahiro-h1{
	font-size: 26px;;
	font-weight: 800;
}
.container{
	max-width:810px;
	margin:0 auto;
	margin-left: 7%;
}

.table-of-contents{
	position:fixed;
	top:10.8%;
	padding-left: 16px;
	padding-bottom: 16px;
	right: 2%;
	min-width: 226px;
	max-height: 400px;
	border-radius: 10px;
	background:#fafafa;
	font-family: "Avenir Next Font", sans-serif;
}
@media (width>2100px){
	.container{
		margin-left: 18%;
	}
	.table-of-contents{
		top:7%;
		right: 20%;

	}
}

@media (width>1700px) and (width<2100px){
	.container{
		margin-left: 14%;
	}
	.table-of-contents{
		top:8%;
		right: 10%;

	}
}
@media (width>1500px) and (width<1700px){
	.container{
		margin-left: 10%;
	}
	.table-of-contents{
		top:8%;
		right: 4%;

	}
}
@media (width>1400px) and (width<1500px){
	.container{
		margin-left: 6%;
	}
	.table-of-contents{
		top:8%;
		right: 1.5%;

	}
}
@media (width<1400px){
	.container{
		margin-inline: 1rem;
		max-width: 100%;
		width:90%;
		min-width: 900px;
	}
	.table-of-contents{
		display:none !important;

	}
}


.wrap .container p,
.wrap .container li{
	font-size:16px;
	font-family:500;
	max-width:900px;
}
.container li:first-child{
	margin-top: 32px;
}
.container li{
	margin-block: 24px;
}
.table-of-contents li{
	margin-block: 12px;
}
.container li{
	line-height: 1.5;
}
.container ol img{
	max-width: 770px;
	height: auto;
}
.container ol img.nahiro-img-vertical{
	height:450px;
	display:block;
	margin: 0 25.5%;
}
.container ol img.nahiro-img-horizontal-big{
	height:300px;
	margin: 0 9.5%;
	
}
.m-28{
	margin: 0 28% !important;;
}

.wp-core-ui .button-primary {
    font-family: "Avenir Next Font", Sans-serif;
    font-size: 18px;
    font-weight: 800;
    fill: #ffffff;
    color: #ffffff;
    background-color: #ff350c;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #FF350C;
    border-radius: 4px;
    box-shadow: 0px 10px 30px -8px rgba(0,0,0,0.16);
    padding: 15px 15px 15px 15px;
	padding-block:12px;
	padding-inline:186px;
	margin-top: 160px;
	
}

.wp-core-ui .button-primary:hover,
.wp-core-ui .button-primary:focus{
    color: #FF350C;
    background-color: #ffffff;
    border-color: #FF350C;
}
.wp-core-ui .button-primary.focus, .wp-core-ui .button-primary:focus {
    box-shadow: 0 0 0 1px #fff,0 0 0 3px #ff350c;
}


/**buttons header*/
.menu-buttons{
	display: flex;
	gap: 16px;
}
.wp-core-ui .button-primary.upgrade {
	margin:0;
	font-size: 14px;
	font-weight: 600;
	padding: 0px 15px;
	place-self:center;
}
a.nahiro-link{
	font-size:16px;
	font-weight:600;
	color: #2e2e2e;
	text-decoration:none;
	place-self:center;
}
a.nahiro-link:hover,
a.nahiro-link:focus{
	color:#ff350c;
	box-shadow:none;
}

