#regionSelector {
    position: absolute;
    width: 100%;
    z-index: 2;
    display: flex;
	top: 8px;
	
	& #regionSelectorMove{
	  padding: 13px;
	  cursor: move;
	  z-index: 10;
	  background-color: #ff350c;
	  color: #fff;
		border-radius: 8px;
		margin-right: 8px;
	}
	
	& .control-box {
		border-radius: 5px;
		box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
		padding: 10px;
		padding: 12px 20px; /* Add more vertical padding */
	}
	
	& .control-box:hover {
		border-color: #007bff; /* Highlight the border on hover */
		box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15); /* Increase shadow */
	}
	
	& .control-box:hover, .control-box:focus-within {
		border-color: #007bff;
		box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
	}
	
	/* Style the container */
	& .nh-select-cont {
		position: relative;
		width: fit-content;
		display: inline-block;
	}

	/* Style the select box */
	& .nh-select-cont select {
		appearance: none;  /* Remove default select arrow */
		-webkit-appearance: none; /* Safari */
		-moz-appearance: none;    /* Firefox */
		/* padding: 10px 40px 10px 12px;*/  /* Add padding for the custom arrow */
		cursor: pointer;
	}

	/* Add custom arrow using ::after on the container */
	& .nh-select-cont::after {
		content: '▼';  /* Unicode for the arrow */
		font-size: 12px;
		color: #333;  /* Arrow color */
		position: absolute;
		right: 12px;  /* Position the arrow on the right */
		top: 50%;
		transform: translateY(-50%);  /* Center the arrow vertically */
		pointer-events: none;  /* Ensure the arrow doesn’t block clicks */
	}
	
	& select{
		background-color;: #fff;
		min-width: 375px;
		width: 30%;
		position:relative;	
		height: 50px;
	}

	& select:hover {
		border-color: #007bff; /* Border color on hover */
	}
	
	& select:focus {
		outline: none;
		border-color: #007bff;
		box-shadow: 0 0 3px rgba(0, 123, 255, 0.5);
	}
}

.nh_cord {
	padding-inline: 16px;
    width: 25%;
	min-width: 300px;
    height: 50px;
    border: 1px solid #2e2e2e;
	background-color: white;
	display:flex;
	justify-content: space-between;
	margin-right: 8px;
	/*flex-direction: column;*/
	
	& .title{
		font-weight: 600;
		max-width: 95px
		margin-right: 16px;
		margin-bottom: 1.5px;
		font-family: monospace;
		
	}
	
	& .coordinates{
		display:flex;
		gap: 24px;
		/*avoids change of size */
		min-width:146.5px;
	}
	& .coordinates :is(.y-cord,.x-cord) span{
		font-family: monospace,sans-serif;
	}
	& .coordinates .x-cord{
		min-width: 63.26px;
	}
	& .coordinates .y-cord{
		min-width: 56.14px;
	}
	& .coordinates .x-cord{
		min-width: 63.26px;
	}
	
	& kbd {
		color: gray;
		font-weight: 600;
	}
	
	& kbd .icon{
		margin-right: 6px;
	}
	
	
	
}
@media (max-width: 767px) {
	#regionSelector{
		display:none;
	}
}

