.elementor-widget-nahiro_map_widget .popupnb_class {
	display: none; 
	position: absolute;
	background-color: transparent; 
	z-index:10; 
	flex-direction:row; 
	width:100px;
}

.cardnc .email_style {
	font-size:12px;
	white-space:nowrap;
}
.cardnc .email_style a,
.cardnc .email_style a:hover{
	text-align:left;
	font-size:13px;
	line-height:1
}

.cardnc .cel_style {
	font-size:12px;
	white-space:nowrap;
}

.cardnc .name_style {
	font-size:16px;
	font-weight:bold;
	white-space:nowrap;
}
.cardnc .cel_style a,
.cardnc .cel_style a:hover{
	text-align:left;
	font-size:12px;
	line-height:1
}

.cardnc .position_style {
	font-size:11px; 
	text-align:left;font-size:13px;
	margin-top:4px;
	white-space:nowrap;
}

.cardnc {
	width:250px; 
	height:100px; 
	display: none; 
	position: absolute;
	background-color: white; 
	z-index:10; 
	flex-direction:row;
	padding-top:12px;
	padding-bottom:12px;
	padding-left:20px;
	padding-right:20px
}

.imgempnext {
	margin-left:auto; 
	margin-right:auto; 
	width:55px;
	position:relative

}

.mouse-hover-map-maehren:hover{
	cursor: pointer;
}

@keyframes bounce {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-15px);
    }
}

.mapac {
    position: relative;
}
.elementor-widget-nahiro_map_widget .map-contenedor{
	height: 100%;
	margin-inline-end: auto;
	margin-inline-start: auto;
	/*width: 40%;*/
}

@media (max-width:767px){
	.cardnc .close-btn{
		width: 14px !important;
		top: -3px !important;
		right: 6px !important;
	}
}

div.jo-pin-text{
	font-family: "Lato";
}