.xpin {
	width: 50px;
	height: 50px;
	border-radius: 50% 50% 50% 0;
	background: #89849b;
	display: flex; 
	flex-direction: row;
	justify-content: center;
	align-items: center;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	translate: 0 -0.2em;
}
.no-xpin {
	background: transparent !important;
	border: 0px;
}
@media (max-width:767px) {
	.zxpin {
		translate: 0 -1em;
	}
}
.xpin > img {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.elementor-widget-container .popupnb_class .xpin img.imgempnext {
	width: calc(50px / 1.33);
	height: calc(50px / 1.33);
	border-radius: 100%;
	padding-top: 0 !important;
}
.elementor-widget-container .popupnb_class .no-xpin img.imgempnext {
	border-radius: 1%;
}
.jo-animation {
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	justify-content: center;
}
@-webkit-keyframes reboteInfinito {
	0% {
		-webkit-transform: translateY(0.8em);
	}
	50% {
		-webkit-transform: translateY(0);
	}
	100% {
		-webkit-transform: translateY(0.8em);
	}
}
.reboteInfinito {
	-webkit-animation-name: reboteInfinito;
	animation-name: reboteInfinito;
}
.jo-pin-text {
	color: #837b72;
}
.email_style {
	margin-top: 4px;
}
.cardnc {
	border-radius: 4px;
	overflow: hidden;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.map-contenedor {
	display: block;
}
body.elementor-editor-active .map-contenedor {
	display: block;
}
@media (max-width: 767px) {
	.map-contenedor {
		min-height: 90vh;
		width: 100%;
		margin: 0px;
	}
}