@font-face {
    font-family: 'Avenir Next Font';
    src: url('../../font/avenirnextltpro-regular-webfont.woff2') format('woff2'),
         url('../../font/avenirnextltpro-regular-webfont.woff') format('woff'),
         url('../../font/AvenirNextLTPro-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Font';
    src: url('../../font/avenirnextltpro-bold-webfont.woff2') format('woff2'),
         url('../../font/avenirnextltpro-bold-webfont.woff') format('woff'),
         url('../../font/AvenirNextLTPro-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Font';
    src: url('../../font/AvenirNextCyr-Heavy.woff2') format('woff2'),
         url('../../font/AvenirNextCyr-Heavy.woff') format('woff');
         /* url('../../font/AvenirNextCyr-Heavy.otf') format('opentype'); */
    font-weight: 900;
    font-style: normal;
}

