.xai-play-button {    
	position: absolute;	
	top: 50%; left: 50%; 
	transform: translate(-50%, -50%);
    width: 68px; 
	height: 68px; 
	background: rgba(0,0,0,0.7); 
	border-radius: 50%;
    display: flex; 
	align-items: center; 
	justify-content: center; 
	transition: 0.3s; 
	z-index: 2;
}

.xai-play-button:hover { 
	background: #cc0000; 
	transform: translate(-50%, -50%) scale(1);
 }
 
.xai-play-button svg, .xai-play-button img {
	width: 78px; height: 78px; fill: white; 
	}
	
@media (max-width: 767px) {
   .xai-play-button {
	   width: 70px; 
	   height: 65px; 
	   }
   .xai-play-button svg, 
   .xai-play-button img {
	   width:60px; height: 60px;
	   }
}