.job-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-main {
    flex: 2;
}
a.title-link {
font-family: "proxima-nova", Sans-serif;
  font-size: 36px;
  font-weight: bold;
  margin-top: 50px;
	color: #0f596e;
}
.button-main {
    flex: 1;
    text-align: right;
}
.button-main a.elementor-button-link {
	text-decoration:none;
}
#pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.button-main .elementor-button-text {
	color:#fff !important;
}

h2.filter-title {
	font-family: "proxima-nova", Sans-serif;
  font-size: 82px;
  font-weight: bold;
}

h2.search-title {
	font-family: "proxima-nova", Sans-serif;
  font-size: 32px;
  font-weight: 600;
  color: var( --e-global-color-accent );
}
h2.heading-title {
  font-family: "proxima-nova", Sans-serif;
  font-size: 82px;
  font-weight: bold;
}

.job-item {
	border-bottom:1px solid #ccc;
	padding:30px 20px;
}
.button-main .elementor-button {
    text-decoration: underline;
}
.ajax-page-link {
  padding: 8px 16px;
	font-size:20px !important;
}
.job-item {
	width:100% !important;
display: inline-flex;
}

a.elementor-button-link {
  font-family: "proxima-nova", Sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: -0.1px;
  fill: #FFFFFF;
  color: #FFFFFF;

  background-color: #EB6012;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 5px 10px 0px rgba(235, 95.99999999999996, 18, 0.3803921568627451) !important;
  padding: 15px 55px 15px 55px;
}.button-main a.elementor-button-link:hover, .button-main a.elementor-button-link:focus {  background-color: #dc2626 !important;  color: #FFFFFF;}

h2.heading-title {
  font-family: "proxima-nova", Sans-serif;
  font-size: 82px;
  font-weight: bold;
	margin-top:50px
}
h2.color-heading-title {
  color: var( --e-global-color-accent );
  font-family: "proxima-nova", Sans-serif;
  font-size: 32px;
  font-weight: 600;
}

#job-loader {
    position: absolute;
    top: 14px !important;
    left: 8px !important;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 3px solid;
    border-color: #fff;
    border-right-color:  #ff0000;
    animation: spinner-d3wgkg 1s infinite linear;
}

@keyframes spinner-d3wgkg {
    to {
        transform: rotate(1turn);
    }
}

#job-technology {
    width: 100%;
    padding: 8px 8px 8px 40px;
    margin-bottom: 20px;
    position: relative;
	background: url(/wp-content/uploads/2021/08/b1.svg) no-repeat right #0F596E;
    background-size: auto;
  background-size: 32px;
  border: none;
  border-radius: 12px;
}
.jobs-filter-wrapper select {
  width: 100%;
  padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  color: #fff;
  font-size: 22px;
  line-height: 1;
  border: 0;
  border-radius: 8px;
  height: 48px;
  -webkit-appearance: none;
  background-position-x: 244px;
}
.jobs-filter-wrapper {
    max-width: 700px;
    margin: auto;
    position: relative;
}
#job-technology {
    width: 100%;
    padding: 8px 8px 8px 40px;
    margin-bottom: 20px;
    position: relative;
}

.job-item {
display: inline-flex;
}
.ajax-page-link {
  padding: 8px 16px;
    font-family: "proxima-nova", Sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.ajax-pagination {
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.ajax-pagination a,
.ajax-pagination span {
    display: inline-block;
    padding: 6px 10px;
    border-radius: 4px;
    text-decoration: none;
    color: #0F596E;
    font-family: "proxima-nova", Sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.ajax-pagination .current-page {
    background-color: #cfdfe3;
    color: #0F596E;
    font-family: "proxima-nova", Sans-serif;
    ffont-size: 24px;
    font-weight: 400;
}


.ajax-pagination .chevron {
    width: 10px;
    height: 10px;
    position: relative;
    border: none;
    padding: 10px;
}


.ajax-pagination .chevron-left::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    border-top: 2px solid #333;
    border-left: 2px solid #333;
    transform: translate(-50%, -50%) rotate(-45deg);
}


.ajax-pagination .chevron-right::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    border-top: 2px solid #333;
    border-right: 2px solid #333;
    transform: translate(-50%, -50%) rotate(45deg);
}

@media screen and (max-width: 880px) {
  .job-image { 
		display:none;
  }
  h2.heading-title {
	
	  font-size: 52px;

	  margin-top: 20px;
	}
}
.title-main h3 a {
	color:#0F596E;
}
.job-item {
  display: inline-flex;
}
@media screen and (max-width:1000px) {
	h2.filter-title {
		font-size: 62px;
		font-weight: bold;
	}
}

@media screen and (max-width:600px) {
	h2.filter-title {
		font-size: 48px;
		font-weight: bold;
	}
	.title-main h3 a{
		font-size: 32px;
	}
	.job-item {
		display:block;
	}	
	.button-main {
  text-align: center;
 }
}