.cvp-video-wrapper .cvp-thumb-container {
  position: relative;
  width: 100%;
  display: block;
  aspect-ratio: 16 / 9; /* fallback */
}

.cvp-video-wrapper .cvp-thumb-container img.cvp-thumb-img,
.cvp-video-wrapper .cvp-thumb-container svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cvp-video-wrapper .cvp-play-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.cvp-video-wrapper .cvp-play-btn {
  display: block;
  width: 100%;
  height: 100%;
}